{% extends 'base.html' %}
{% from "_render_field.html" import render_field %}

{% block title %}Сторінка входу{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2>Login</h2>
        
        <form method="POST" action="{{ url_for('users.login') }}" novalidate>
            
            {{ form.hidden_tag() }}
            
            {{ render_field(form.username) }}
            {{ render_field(form.password) }}
            
            <div class="mb-3 form-check">
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label") }}
            </div>
            
            {{ form.submit(class="btn btn-primary w-100") }}
        </form>
    </div>
</div>
{% endblock %}
