{% extends 'base.html' %}
{% from "_render_field.html" import render_field %}

{% block content %}
<section id="contacts" class="my-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>Контакти</h2>
            
            <form method="POST" action="{{ url_for('contacts') }}" novalidate>
    
                {{ form.hidden_tag() }}
                
                {{ render_field(form.name) }}
                {{ render_field(form.email) }}
                {{ render_field(form.phone, extra_attrs={'placeholder': '+380XXXXXXXXX'}) }}
                {{ render_field(form.subject) }}
                {{ render_field(form.message, extra_attrs={'rows': '5'}) }}
                
                {{ form.submit(class="btn btn-primary") }}
            </form>
        </div>
    </div>
</section>
{% endblock %}

